<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost;Uid=root;Pwd=123456;Database=WebsiteSpider_DB;port=3306;charset=utf8" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  


</configuration>